/bin/Debug/DevExpress.BonusSkins.v15.2.dll
/bin/Debug/DevExpress.Data.v15.2.dll
/bin/Debug/DevExpress.Data.v15.2.xml
/bin/Debug/DevExpress.Office.v15.2.Core.dll
/bin/Debug/DevExpress.Office.v15.2.Core.xml
/bin/Debug/DevExpress.Pdf.v15.2.Core.dll
/bin/Debug/DevExpress.Pdf.v15.2.Core.xml
/bin/Debug/DevExpress.Pdf.v15.2.Drawing.dll
/bin/Debug/DevExpress.Pdf.v15.2.Drawing.xml
/bin/Debug/DevExpress.Printing.v15.2.Core.dll
/bin/Debug/DevExpress.Printing.v15.2.Core.xml
/bin/Debug/DevExpress.RichEdit.v15.2.Core.dll
/bin/Debug/DevExpress.RichEdit.v15.2.Core.xml
/bin/Debug/DevExpress.Sparkline.v15.2.Core.dll
/bin/Debug/DevExpress.Sparkline.v15.2.Core.xml
/bin/Debug/DevExpress.Utils.v15.2.dll
/bin/Debug/DevExpress.Utils.v15.2.xml
/bin/Debug/DevExpress.XtraBars.v15.2.dll
/bin/Debug/DevExpress.XtraBars.v15.2.xml
/bin/Debug/DevExpress.XtraEditors.v15.2.dll
/bin/Debug/DevExpress.XtraEditors.v15.2.xml
/bin/Debug/DevExpress.XtraGrid.v15.2.dll
/bin/Debug/DevExpress.XtraGrid.v15.2.xml
/bin/Debug/DevExpress.XtraLayout.v15.2.dll
/bin/Debug/DevExpress.XtraLayout.v15.2.xml
/bin/Debug/DevExpress.XtraPrinting.v15.2.dll
/bin/Debug/DevExpress.XtraPrinting.v15.2.xml
/bin/Debug/DevExpress.XtraTreeList.v15.2.dll
/bin/Debug/DevExpress.XtraTreeList.v15.2.xml
